@model IList<string>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Books/Index" class="btn btn-success">К управлению книгами</a>
<a href="/Admin/AsignRole" class="btn btn-success">Управление Ролями</a>
<a href="/Voyages/Index" class="btn btn-success">Управление Поездками</a>
<div class="container">
    <div class="col col-md-6">
        <div class="row">
            <div>
                <h1>Ваши роли:</h1>
            </div>
            @foreach (var item in Model)
            {
                <div class="">
                    @item
                </div>
            }
        </div>
    </div>
</div>


