
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="panel-group">
    
    @Html.ActionLink("Управление Книгами","Index","Books")
    @Html.ActionLink("Управление Правами", "Index", "Admin")
</div>

